*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    font-family: serif;
    background-color: navajowhite;
    height: 80px;
    overflow: hidden;
    border-bottom: 1px solid indianred;
}

.nav{
    margin-left: 60%;
    margin-top: 1.5%;
}

.navbar a, .navbar span{
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: indianred;
    float: left;
    text-align: center;
    margin-right: 10%;
    padding: 5px 16px;
}

.dropdown{
    float: left;
    margin-right: 10%;
}

.dropdown .drop{
    border: none;
    outline: none;
    color: indianred;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .drop {
    background-color: wheat;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content img {
    float: none;
    color: indianred;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown{
    height: 20%;
}

h3{
    color: indianred;
    font-size: 30px;
    font-family: serif;
    background-color: wheat;
    text-align: center;
    padding: 10px;
    font-weight: normal;
}

.section{
    background-color: moccasin;
    padding-top: 3%;
}

video{
    height: 50%;
    width: 50%;
    margin-left: 7%;
    float: left;
    margin-right: 20px;
}

.section span{
    color: indianred;
    font-family: serif;
    font-size: 30px;
    font-weight: bold
}

.section div{
    font-family: serif;
    color: indianred;
}

.section img{
    float: left;
    height: 180px;
    margin-right: 5px;
    margin-top: 7.5px;
}

.indivisible{
    line-height: 30px;
}

.padding{
    margin-left: 7%;
}

.container{
    display: flex;
    align-content: space-between;
    flex-direction: row;
    width: 100%;
}

.s1{
    margin-right: 6.5%;
}
.s2{
    width: 180px;
}

footer div{
    background-color: indianred;
    font-family: serif;
    font-size: 13px;
    text-align: center;
    color: navajowhite;
}

footer a{
    color: navajowhite;
}





